<ng-content select="h1"></ng-content>

<p [ngClass]="{'active': value, 'disabled': !value}">attribute-directives works!</p>
<p [ngStyle]="{'height': heightPx, 'background': bgColor }">attribute-directives works!</p>

<hr>

<input [(ngModel)]="other" > {{ other }}

<hr>

<ng-template ngFor let-item [ngForOf]="list">
    <p>{{item.name}}</p>
</ng-template>

<hr>

<ng-content select="hr"></ng-content>

cd
<hr>


<ng-template ngFor let-item [ngForOf]="list">
    <p>{{item.name | uppercase}}</p>
</ng-template>